body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-track:hover {
  background: #979797;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: #6e6e6e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #565454;
}

a {
  color: teal !important;
}
